* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  position: relative;
  background-color: hsl(0deg, 0%, 100%);
  z-index: 3;
}
@media screen and (min-width: 1024px) {
  .nav {
    padding-top: 10px;
    width: 100%;
    height: 7vh;
  }
}
.nav__logo {
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  .nav__logo {
    margin-left: 120px;
  }
}
.nav__mobile {
  margin-right: 30px;
}
@media screen and (min-width: 1024px) {
  .nav__mobile {
    display: none;
  }
}
.nav__navigation {
  align-items: center;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  left: 0;
  padding-top: 20px;
  position: absolute;
  transform: translateY(-200%);
  transition: 0.3s;
  top: 13vh;
  width: 90%;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .nav__navigation {
    background-color: transparent;
    flex-direction: row;
    position: static;
    transform: translate(0);
  }
}
.nav__navigation.active {
  transform: translate(0);
}
.nav__navigation a {
  color: hsl(233deg, 26%, 24%);
  margin-bottom: 20px;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .nav__navigation a {
    color: hsl(233deg, 8%, 62%);
    font-size: 15px;
    margin-right: 20px;
    padding-bottom: 10px;
    position: relative;
  }
  .nav__navigation a:hover {
    color: hsl(233deg, 26%, 24%);
  }
  .nav__navigation a:hover::before {
    content: "";
    background-image: linear-gradient(to right, hsl(136deg, 65%, 51%) 0%, hsl(192deg, 70%, 51%) 100%);
    height: 5px;
    left: 0;
    position: absolute;
    top: 4vh;
    width: 100%;
  }
}
.nav__request-invite {
  display: none;
}
@media screen and (min-width: 1024px) {
  .nav__request-invite {
    background: linear-gradient(to right, hsl(136deg, 65%, 51%) 0%, hsl(192deg, 70%, 51%) 100%);
    border: none;
    border-radius: 20px;
    color: hsl(220deg, 16%, 96%);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 150px;
    padding: 10px 0;
    width: 180px;
  }
}
.nav__request-invite:hover {
  background: linear-gradient(to right, hsl(136deg, 96%, 55%) 0%, hsl(192deg, 86%, 51%) 100%);
  color: hsl(0deg, 0%, 100%);
}

.hero {
  background-color: hsl(0deg, 0%, 98%);
}
@media screen and (min-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    height: 55vh;
  }
}
.hero__image {
  height: 50vh;
}
.hero__image img:last-child {
  transform: translate(0%, -122%);
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .hero__image img:last-child {
    transform: translate(42%, -120%);
    width: 80%;
  }
}
.hero__image img:nth-child(2) {
  display: none;
}
@media screen and (min-width: 1024px) {
  .hero__image img:nth-child(2) {
    display: block;
    transform: translate(1%, -25%);
    width: 128%;
  }
}
.hero__image img:first-child {
  transform: translate(0%, -8%);
}
@media screen and (min-width: 1024px) {
  .hero__image img:first-child {
    display: none;
  }
}
.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
}
@media screen and (min-width: 1024px) {
  .hero__info {
    margin-top: 55px;
  }
}
.hero__info h1 {
  color: hsl(233deg, 26%, 24%);
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hero__info h1 {
    font-size: 42px;
    margin: 0 100px 20px 300px;
    text-align: left;
  }
}
.hero__info p {
  color: hsl(233deg, 8%, 62%);
  font-size: 16px;
  line-height: 150%;
  padding: 0 15px;
}
@media screen and (min-width: 1024px) {
  .hero__info p {
    margin: 0 15px 0 280px;
  }
}
.hero__info button {
  background: linear-gradient(to right, hsl(136deg, 65%, 51%) 0%, hsl(192deg, 70%, 51%) 100%);
  border: none;
  border-radius: 20px;
  color: hsl(220deg, 16%, 96%);
  cursor: pointer;
  margin: 20px 100px;
  padding: 15px 40px;
}
.hero__info button:hover {
  background: linear-gradient(to right, hsl(136deg, 96%, 55%) 0%, hsl(192deg, 86%, 51%) 100%);
  color: hsl(0deg, 0%, 100%);
}
@media screen and (min-width: 1024px) {
  .hero__info button {
    margin: 30px 270px 0 295px;
    padding: 12px 24px;
  }
}

.functions {
  background-color: hsl(220deg, 16%, 96%);
  padding-top: 80px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .functions {
    padding-bottom: 60px;
  }
}
.functions__text {
  padding: 0 10px 80px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .functions__text {
    padding: 0px 520px 80px 295px;
    text-align: left;
  }
}
.functions__text h2 {
  color: hsl(233deg, 26%, 24%);
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  .functions__text h2 {
    font-size: 30px;
  }
}
.functions__text p {
  color: hsl(233deg, 8%, 62%);
  font-size: 16px;
  line-height: 150%;
}
.functions__function {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .functions__function {
    flex-direction: row;
    text-align: left;
    margin: 0 80px;
  }
}
.functions__function-simple {
  margin-bottom: 35px;
}
.functions__function-simple h3 {
  color: hsl(233deg, 26%, 24%);
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}
.functions__function-simple p {
  color: hsl(233deg, 8%, 62%);
  font-size: 16px;
  margin: 0 5px;
  line-height: 150%;
}
@media screen and (min-width: 1024px) {
  .functions__function-simple p {
    font-size: 14px;
    margin: 0;
    margin-right: 83px;
  }
}

.articles {
  background-color: hsl(0deg, 0%, 98%);
  padding-top: 100px;
  padding-bottom: 50px;
}
.articles__heading {
  color: hsl(233deg, 26%, 24%);
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .articles__heading {
    font-size: 40px;
    margin-left: 83px;
    text-align: left;
  }
}
.articles__article {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px 0 60px;
}
@media screen and (min-width: 1024px) {
  .articles__article {
    align-items: flex-start;
    flex-direction: row;
    margin: 40px 60px;
  }
}
.articles__article-simple {
  background-color: hsl(0deg, 0%, 100%);
  margin-top: 30px;
  width: 90%;
}
@media screen and (min-width: 1024px) {
  .articles__article-simple {
    margin: 0 10px 0 20px;
    width: 20%;
  }
}
.articles__article-simple img {
  border-radius: 5px;
  height: 35vh;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .articles__article-simple img {
    height: 20vh;
  }
}
.articles__article-simple-author {
  color: hsl(233deg, 8%, 62%);
  font-size: 12px;
  font-weight: 500;
  margin: 30px 30px 15px;
}
.articles__article-simple h3 {
  color: hsl(233deg, 26%, 24%);
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
}
@media screen and (min-width: 1024px) {
  .articles__article-simple h3:hover {
    color: hsl(136deg, 65%, 51%);
    cursor: pointer;
  }
}
.articles__article-simple-text {
  color: hsl(233deg, 8%, 62%);
  font-size: 14px;
  font-weight: 500;
  margin: 10px 15px 60px 30px;
}/*# sourceMappingURL=style.css.map */