.functions {
	background-color: $light-grayish-blue;
	padding-top: 80px;
	padding-bottom: 40px;

	&__text {
		padding: 0 10px 80px;
		text-align: center;

		& h2 {
			color: $dark-blue;
			font-size: 36px;
			font-weight: 400;
			margin-bottom: 25px;
		}

		& p {
			color: $grayish-blue;
			font-size: 16px;
			line-height: 150%;
		}
	}

	&__function {
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;

		&-simple {
			margin-bottom: 35px;

			& h3 {
				color: $dark-blue;
				font-size: 24px;
				font-weight: 500;
				margin-top: 30px;
				margin-bottom: 30px;
			}

			& p {
				color: $grayish-blue;
				font-size: 16px;
				margin: 0 5px;
				line-height: 150%;
			}
		}
	}
}
